.father {
  font-size: 50px;
  height: 100vh;
  display: flex;

  /* Main Axis */
  justify-content: space-around;

  /* Cross Axis */
  align-items: flex-start;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}

.child:nth-child(2) {
  background-color: black;
  flex-shrink: 2;
}
