.grid {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.header {
  background-color: wheat;
  grid-area: header;
}

.content {
  background-color: blue;
  grid-area: content;
}

.nav {
  background-color: teal;
  grid-area: nav;
}

.footer {
  background-color: thistle;
  grid-area: footer;
}
