.father {
  font-size: 50px;
  height: 100vh;
  display: flex;

  /* Main Axis */
  justify-content: space-around;

  /* Cross Axis */
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
}

.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}
